<!DOCTYPE html>

<html x-ng-app="BoardApp" x-ng-controller="BoardCtrl">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href='http://fonts.googleapis.com/css?family=Arvo:400,400italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="styles/style.css" />
	<link rel="stylesheet" type="text/css" href="styles/animate.min.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular.min.js"></script>
	<script src="https://cdn.firebase.com/v0/firebase.js"></script>
	<script src="https://cdn.firebase.com/libs/angularfire/0.6.0/angularfire.min.js"></script>
	<script type="text/javascript" src="scripts/main.js"></script>
	<title>TicMacToe</title>
</head>
<body>
	<div class="overlayGame overlayGameHide" x-ng-class="{overlayGameShow:lockScreen()}">game<br /><b>in progress</b>
		<div class="invisibleReset overlayGameHide" x-ng-class="{overlayGameShow:lockScreen()}" x-ng-click="dbReset()"></div>
	</div> 
	<div class="invisibleReset" x-ng-click="fullReset()"></div>
	<div class="board">
		<!-- {{lockScreen()}} -->
		<div class="turn animated fadeInDown" x-ng-class="{show:(myInitTurn() && !lockScreen()) ,hide:(!myInitTurn() || !ttt.game.inProgress || lockScreen())}">your <b>move</b>!</div>
		<div class="turn animated fadeInDown" x-ng-class="{hide:(myInitTurn() || !ttt.game.inProgress || lockScreen())}">waiting...</div>
		<!-- overlays -->
		<div class="overlayMenu overlayHide" x-ng-class="{overlayShow:(ttt.menu.overlay || !myInitTurn())}"></div> 
		<div class="overlaySettings overlayHide" x-ng-class="{overlayShow:ttt.menu.settings}"></div> 
		<!-- play -->
		<div class="menu mouse play animated fadeIn hide" x-ng-class="{show:ttt.menu.play}" x-ng-click="switchMenu()"><b>play</b></div>
		<!-- select game -->
		<div class="menu default select game hide" x-ng-class="{show:(ttt.menu.selectGame && !lockScreen())}"><span>select</span> <b>game</b/></div>
		<div class="menu mouse select singlePlayer hide" x-ng-class="{show:(ttt.menu.selectGame && !lockScreen())}" x-ng-click="ttt.game.pNum=1; switchMenu()"><b>single</b> <span>player</span></div>
		<div class="menu mouse select twoPlayer hide" x-ng-class="{show:(ttt.menu.selectGame && !lockScreen())}" x-ng-click="ttt.game.pNum=2; switchMenu()"><b>two</b> <span>player</span></div>
		<!-- <div class="menu mouse select multiPlayer hide" x-ng-class="{show:ttt.menu.selectGame}" x-ng-click="ttt.game.multiMode=3; switchMenu()"><span>play</span> <b>online</b></div> -->
		<!-- select piece -->
		<div class="menu default select piece hide" x-ng-class="{show:(ttt.menu.selectPiece && !lockScreen())}"><span>select</span> <b>piece</b></div>
		<div class="menu mouse select piece1 hide" x-ng-class="{show:(ttt.menu.selectPiece && !lockScreen())}" x-ng-click="ttt.player.turn=true; switchMenu();"><b>coconut</b></div>
		<div class="menu mouse select piece2 hide" x-ng-class="{show:(ttt.menu.selectPiece && !lockScreen())}" x-ng-click="ttt.player.turn=false; switchMenu();"><b>hazelnut</b></div>
		<!-- in game buttons -->
		<div class="newGame mouse animated fadeInDown hide" x-ng-click="reset()" x-ng-class="{show:(ttt.menu.newGame && !lockScreen()),playAgain:(ttt.game.draw || ttt.player.win)}"><span>new</span> <b>{{ttt.newGame}}</b></div>
		<div class="settings mouse animated fadeInDown hide" x-ng-click="openSettings()" x-ng-class="{show:(ttt.menu.newGame && !lockScreen()),settingsOpen:ttt.menu.settings}"><b>{{ttt.settings}}</b></div>
		<!-- game result -->
		<div class="menu draw animated pulse hide" x-ng-class="{showWin:ttt.game.draw}"><b>draw</b></div>

		<!-- additional images -->
		<div class="imgHolder">
			<div class="images spoon"></div>
			<!-- <div class="images choco hide"></div> -->
			<div class="images coffee"></div>
			<!-- <div class="images lav hide"></div> -->
		</div>

		<!-- create board -->
		<div class="row" x-ng-repeat="row in ttt.board track by $index">
			<div class="cell mouse" x-ng-class="{p0:cell=='X', p1:cell=='O', p0_win:(ttt.player.win && !ttt.player.turn && cell=='W'), p1_win:(ttt.player.win && ttt.player.turn && cell=='W')}" x-ng-repeat="cell in row track by $index" x-ng-click="turn($parent.$index, $index);">
			</div>
		</div>
	</div>
</body>
</html>

