<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href='http://fonts.googleapis.com/css?family=Arvo:400,400italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="style.css" />
	<!-- // <script type="text/javascript" src="script.js"></script> -->
	<script type="text/javascript" src="main.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular.min.js"></script>
	<title>TicTacToe</title>
</head>
<body style="font-family: Arial" x-ng-app="" x-ng-init="reset()">
	<div class="board" x-ng-controller="Board">
		<div class="play"><b>play</b></div>
		<div class="row" x-ng-repeat="row in board track by $index">
			<div class="cell" x-ng-class="{p0:cell=='X', p1:cell=='O'}" x-ng-repeat="cell in row track by $index" x-ng-click="turn($parent.$index, $index);">
				<!-- <div x-ng-class="{overlayCell:($index == 1 && $parent.$index == 1)}">
					<div x-ng-class="{overlayBuffer:($index == 1 && $parent.$index == 1)}"></div>
					<div x-ng-class="{startGame:($index == 1 && $parent.$index == 1)}" x-ng-click="">{{$index == 1 && $parent.$index == 1 ? 'play' : ''}}</div>
				</div> -->
			</div>
		</div>
		<button type="button" x-ng-click="reset()">New Game</button>
	</div>
</body>
</html>







<!-- <body style="font-family: Arial" onload="initEvents()" x-ng-app="">
	<div class="board cf">
		<div class="row cf" id="r0">
			<div class="cell" id="0"></div>
			<div class="cell" id="1"></div>
			<div class="cell" id="2"></div>
		</div>
		<div class="row cf" id="r1">
			<div class="cell" id="3">
				<div class="overlayCell selectGame player" onclick="setPlayers(1)"><b>Single</b> Player</div>
			</div>
			<div class="cell" id="4">
				<div class="overlayCell startGame" onclick="selectGame()"><b>Play</b></div>
				<div class="overlayCell selectGame">Select <b>Game</b></div>
			</div>
			<div class="cell" id="5">
				<div class="overlayCell selectGame player" onclick="setPlayers(2)"><b>Two</b> Player</div>
			</div>
		</div>
		<div class="row cf" id="r2">
			<div class="cell" id="6"></div>
			<div class="cell" id="7"></div>
			<div class="cell" id="8"></div>
		</div>
	</div>
 	<div>{{ cellNum }}</div>
	<div>{{ pNum }}</div>
	<div class="spoon"></div>
	<div class="choco"></div>
	<div class="overlay">
		<div class="closeSettings" onclick="closeSettings()"></div>
		<div class="settings">
			<form>
				<input type="radio" name="numPlayers" value="1">1 Player<br />
				<input type="radio" name="numPlayers" value="2">2 Players<br /><br />
				<input type="radio" name="macPlayer" value="1">Coconut<br />
				<input type="radio" name="macPlayer" value="2">Hazelnut
			</form>
		</div>
	</div>
	<br />
	<button type="button" onclick="resetAll()">New Game</button>
	<button type="button" onclick="selectGame()">Settings</button> -->