<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href='http://fonts.googleapis.com/css?family=Arvo:400,400italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="style.css" />
	<script type="text/javascript" src="main.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular.min.js"></script>
	<title>TicTacToe</title>
</head>
<body style="font-family: Arial" x-ng-app="">
	<div class="board" x-ng-controller="BoardCtrl">

		<!-- menu -->
		<div class="overlayMenu" x-ng-class="{overlayShow:menu.overlay, overlayHide:!menu.overlay}"></div> 
		<!-- play -->
		<div class="menu play" x-ng-class="{show:menu.play, hide:!menu.play}" x-ng-click="switchMenu()"><b>play</b></div>
		<!-- select game -->
		<div class="menu select game" x-ng-class="{show:menu.selectGame,hide:!menu.selectGame}"><span class="spanText">select</span> <b>game</b/></div>
		<div class="menu select singlePlayer" x-ng-class="{show:menu.selectGame,hide:!menu.selectGame}" x-ng-click="switchMenu()"><b>single</b> <span class="spanText">player</span></div>
		<div class="menu select twoPlayer" x-ng-class="{show:menu.selectGame,hide:!menu.selectGame}" x-ng-click="switchMenu()"><b>two</b> <span class="spanText">player</span></div>
		<!-- select piece -->
		<div class="menu select piece" x-ng-class="{show:menu.selectPiece,hide:!menu.selectPiece}"><span class="spanText">select</span> <b>piece</b></div>
		<div class="menu select piece1" x-ng-class="{show:menu.selectPiece,hide:!menu.selectPiece}" x-ng-click="player.turn=false; switchMenu();"><b>coconut</b></div>
		<div class="menu select piece2" x-ng-class="{show:menu.selectPiece,hide:!menu.selectPiece}" x-ng-click="player.turn=true; switchMenu();"><b>hazelnut</b></div>
		<!-- in game buttons -->
		<div class="newGame" x-ng-click="reset()" x-ng-class="{show:menu.newGame, hide:!menu.newGame}"><span class="spanText">new</span> <b>game</b></div>
		<div class="overlaySettings" x-ng-class="{overlayShow:menu.settings, overlayHide:!menu.settings}"></div> 
		<div class="settings" x-ng-click="openSettings()" x-ng-class="{show:menu.newGame, hide:!menu.newGame, settingsOpen:menu.settings}"><b>settings</b></div>
		<!-- display result -->
		<div class="menu draw" x-ng-class="{show:player.draw, hide:!player.draw}"><b>draw</b></div>

		<div class="spoon"></div>
		<div class="choco"></div>

		<!-- create board -->
		<div class="row" x-ng-repeat="row in board track by $index">
			<div class="cell" x-ng-class="{p0:cell=='X', p1:cell=='O'}" x-ng-repeat="cell in row track by $index" x-ng-click="turn($parent.$index, $index);">
			</div>
		</div>
	</div>
</body>
</html>
