.cf:before, .cf:after { content: ""; display: table; }
.cf:after { clear: both; }
.cf { zoom: 1; }

h1 {
	text-align: center;
}

body {
}

.board {
	position: relative;
	width: 606px;
	height: 606px;
	margin: 0 auto;
	background-color: rgba(0,0,0,0.02);	
	transition: 0.2s;
}

.board:hover {
	background-color: rgba(0,0,0,0.2);
}

.row {
	width: 610px;
	height: 200px;
}

.play {
	position: absolute;
	width: 200px;
	height: 135px;
	z-index: 20;
	display: block;
	text-align: center;
	font-family: 'Arvo', serif;
	font-size: 3em;
	color: rgba(150,150,220,1);
	padding-top: 65px;
	background-color: rgba(255,100,100,0.5);
	/*background-color: rgba(170,170,220,1);*/

	/*0 0*/
	/*top: 8px;
	left: 416px;*/

	/*0 1*/
/*	top: 8px;
	left: 619px;*/

	/*0 2*/
	/*top: 8px;
	left: 822px;*/
	
	/*1 0*/
	/*top: 203px;
	left: 0px;*/

	/*1 1*/
	/*top: 203px;
	left: 203px;*/
	
	/*1 2*/
	top: 203px;
	left: 406px;

	/*2 0*/
	/*top: 414px;
	left: 416px;*/

	/*2 1*/
	/*top: 414px;
	left: 619px;*/

	/*2 2*/
	/*top: 414px;
	left: 822px;*/
}

.play:hover {
	color: white;
	background-color: rgba(170,170,220,1);
}

.selectGame {
	display: none;
	height: 160px;
	background-color: rgba(170,170,220,1);
	color: white;
	padding-top: 40px;
}

.player {
	color: rgba(170,170,220,1);
	background-color: rgba(255,255,255,1);
	transition: 0.2s;
}

.player:hover {
	color: orange;
}

.cell {
	width: 200px;
	height: 200px;
	background-color: rgba(255,255,255,1);
	/*background-color: black;*/
	/*background-size: 200px 200px;*/
	margin-bottom: 3px;
	margin-right: 3px;
	float: left;
	z-index: 0;
}

.cell:hover {
	background-color: rgba(255,255,255,0.8);
	/*transition: 0.1s;*/
}

.p0 {
	background-image:url('img/mac0.png');
	background-size: 200px 200px;
}

.p1 {
	background-image:url('img/mac1.png');
	background-size: 200px 200px;
}

.p0_win {
	background-image:url('img/mac0_win.png');
	background-size: 200px 200px;
}

.p1_win {
	background-image:url('img/mac1_win.png');
	background-size: 200px 200px;
}

.spoon {
	position: fixed;
	background-image:url('img/spoon.png');
	background-size: 650px 414px;
	bottom: -50px;
	left: -150px;
	width: 650px;
	height: 414px;
	z-index: -1;
}

.choco{
	background-image:url('img/choco.png');
	background-size: 200px 200px;
	float: right;
	width: 200px;
	height: 200px;
	position: fixed;
	top: 50px;
	right: 80px;
	z-index: -1;
}

.coffee {

}

.almond {

}

.lav {

}

.overlay {
	/*position: relative;*/
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: rgba(0,0,0,0.3);
	z-index: 20;
	top: 0;
	left: 0;
}
.closeSettings {
	display: block;
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: rgba(0,0,0,0);
	z-index: 21;
	top: 0;
	left: 0;
}
.settings {
	display: none;
	width: 650px;
    height: 500px;
    position: fixed;
    top: 30%; 
    left: 35%;
    margin-top: -150px;
    margin-left: -100px;
    background-color: rgba(50,50,50,0.9);
    border-radius: 5px;
    text-align: center;
    z-index: 22; /* 1px higher than the overlay layer */
}

form {
	float: left;
	margin: 0 auto;
}

button {
	float: right;
	margin: 0 auto;
}

@media (max-width: 700px) and (min-width: 300px) {

.board {
	width: 304px;
	height: 304px;
	margin-top: 50px;
}

.row{
	width: 306px;
	height: 100px;
}

.cell {
	width: 100px;
	height: 100px;
	margin-right: 2px;
	margin-bottom: 2px;
}

.p0 {
	background-size: 100px 100px;
}

.p1 {
	background-size: 100px 100px;
}

.p0_win {
	background-size: 100px 100px;
}

.p1_win {
	background-size: 100px 100px;
}

.overlayCell {
	width: 100px;
	margin-bottom: 2px;
	margin-right: 2px;
	font-size: 2em;
}

.startGame {
	height: 135px;
	padding-top: 25px;
}

}

