.cf:before, .cf:after { content: ""; display: table; }
.cf:after { clear: both; }
.cf { zoom: 1; }

/*-----------------------------------------
Game board
-----------------------------------------*/
.board {
	position: relative;
	width: 606px;
	height: 606px;
	margin: 0 auto;
	background-color: rgba(0,0,0,0.02);	
	transition: 0.2s;
}

.board:hover {
	background-color: rgba(0,0,0,0.2);
}

.row {
	width: 610px;
	height: 200px;
}

.cell {
	width: 200px;
	height: 200px;
	background-color: rgba(255,255,255,1);
	/*background-color: black;*/
	/*background-size: 200px 200px;*/
	margin-bottom: 3px;
	margin-right: 3px;
	float: left;
	z-index: 0;
}

.cell:hover {
	background-color: rgba(255,255,255,0.8);
	/*transition: 0.1s;*/
}

/*-----------------------------------------
Player pieces
-----------------------------------------*/
.p0 {
	background-image:url('img/mac0.png');
	background-size: 200px 200px;
}

.p1 {
	background-image:url('img/mac1.png');
	background-size: 200px 200px;
}

.p0_win {
	background-image:url('img/mac0_win.png');
	background-size: 200px 200px;
}

.p1_win {
	background-image:url('img/mac1_win.png');
	background-size: 200px 200px;
}

/*-----------------------------------------
Menu overlay on top of board
toggle through menu options
-----------------------------------------*/
.overlayMenu {
	position: absolute;
	width: 606px;
	height: 606px;
	z-index: 10;
	top: 0px;
	left: 0px;
	/*background-color: rgba(255,255,255,0.5);*/
}

.menu {
	position: absolute;
	width: 200px;
	height: 200px;
	text-align: center;
	font-family: 'Arvo', serif;
	font-size: 3em;
}

.play {
	height: 135px;
	color: rgba(0,200,200,1);
	padding-top: 65px;
	transition: 0.2s;

	/*0 0*/
	/*top: 0px;
	left: 0px;*/

	/*0 1*/
	/*top: 0px;
	left: 203px;*/

	/*0 2*/
	/*top: 0px;
	left: 406px;*/
	
	/*1 0*/
	/*top: 203px;
	left: 0px;*/

	/*1 1*/
	top: 203px;
	left: 203px;
	
	/*1 2*/
	/*top: 203px;
	left: 406px;*/

	/*2 0*/
	/*top: 406px;
	left: 0px;*/

	/*2 1*/
	/*top: 406px;
	left: 203px;*/

	/*2 2*/
	/*top: 406px;
	left: 406px;*/
}

.play:hover {
	color: white;
	background-color: rgba(0,190,190,1);
}

.select {
	height: 165px;
	/*background-color: rgba(150,150,220,1);*/
	background-color: rgba(0,190,190,1);
	color: white;
	padding-top: 35px;
	display: none;
}

.game {
	transition: 0s;
	/*0 1*/
	top: 0px;
	left: 203px;
}

.piece {
	transition: 0s;
	/*0 1*/
	top: 0px;
	left: 203px;
}

.singlePlayer {
	color: rgba(0,200,200,1);
	background-color: rgba(255,255,255,0.5);
	transition: 0.2s;
	/*1 0*/
	top: 203px;
	left: 0px;
}

.singlePlayer:hover {
	color: rgba(255,80,0,1);
}

.twoPlayer {
	color: rgba(0,200,200,1);
	background-color: rgba(255,255,255,0.5);
	transition: 0.2s;
	/*1 2*/
	top: 203px;
	left: 406px;
}

.twoPlayer:hover {
	color: rgba(255,80,0,1);
}

.piece1 {
	font-size: 2em;
	color: rgba(0,200,200,1);
	height: 130px;
	padding-top: 70px;
	background-image:url('img/mac0.png');
	background-size: 200px 200px;
	transition: 0.2s;
	/*1 0*/
	top: 203px;
	left: 0px;
}

.piece1:hover {
	color: rgba(255,80,0,1);
}

.piece2 {
	font-size: 2em;
	color: rgba(0,220,220,1);
	height: 135px;
	padding-top: 65px;
	background-image:url('img/mac1.png');
	background-size: 200px 200px;
	transition: 0.2s;
	/*1 2*/
	top: 203px;
	left: 406px;
}

.piece2:hover {
	color: rgba(255,80,0,1);
}

.overlaySettings {
	position: absolute;
	width: 606px;
	height: 606px;
	z-index: 11;
	top: 0px;
	left: 0px;
	background-color: rgba(255,255,255,0.5);
}

.overlayHide {
	z-index: -10;
	display: none;
}

.overlayShow {
	z-index: 10;
	display: block;
}

.settings {
	position: absolute;
	color: rgba(230,230,230,1);
	width: 170px;
	height: 45px;
	left: 800px;
	top: 200px;
	text-align: center;
	font-family: 'Arvo', serif;
	font-size: 2em;
	transition: 0.2s;
}

.settings:hover {
	color: rgba(255,80,0,1);
}

.settingsOpen {
	color: rgba(0,200,200,1);
}

.newGame {
	position: absolute;
	color: rgba(230,230,230,1);
	width: 170px;
	height: 45px;
	left: 800px;
	text-align: center;
	font-family: 'Arvo', serif;
	font-size: 2em;
	transition: 0.2s;
}

.newGame:hover {
	color: rgba(255,80,0,1);
	/*color: rgba(0,200,200,1);*/
}

.draw {
	height: 135px;
	color: white;
	background-color: rgba(0,190,190,1);
	padding-top: 65px;
	/*1 1*/
	top: 203px;
	left: 203px;
}
.win {
	height: 135px;
	color: rgba(255,80,0,1);
	padding-top: 55px;
	/*1 1*/
	top: 203px;
	left: 203px;
	font-size: 2.2em;
}

.spanText {
	font-size: 0.8em;
}

.hide {
	z-index: -20;
	display: none;
}

.show {
	z-index: 20;
	display: block;
}

.showWin {
	z-index: 5;
	display: block;
}



/*-----------------------------------------
Additional images
-----------------------------------------*/
.spoon {
	position: fixed;
	background-image:url('img/spoon.png');
	background-size: 650px 414px;
	bottom: -50px;
	left: -150px;
	width: 650px;
	height: 414px;
	z-index: -1;
}

.choco{
	background-image:url('img/choco.png');
	background-size: 200px 200px;
	float: right;
	width: 200px;
	height: 200px;
	position: fixed;
	top: 50px;
	right: 80px;
	z-index: -1;
}

.coffee {

}

.almond {

}

.lav {

}

/*-----------------------------------------
Media Queries
-----------------------------------------*/
@media (max-width: 700px) and (min-width: 300px) {

.board {
	width: 304px;
	height: 304px;
	margin-top: 50px;
}

.row{
	width: 306px;
	height: 100px;
}

.cell {
	width: 100px;
	height: 100px;
	margin-right: 2px;
	margin-bottom: 2px;
}

.p0 {
	background-size: 100px 100px;
}

.p1 {
	background-size: 100px 100px;
}

.p0_win {
	background-size: 100px 100px;
}

.p1_win {
	background-size: 100px 100px;
}

.overlayCell {
	width: 100px;
	margin-bottom: 2px;
	margin-right: 2px;
	font-size: 2em;
}

.startGame {
	height: 135px;
	padding-top: 25px;
}

}

