.cf:before, .cf:after { content: ""; display: table; }
.cf:after { clear: both; }
.cf { zoom: 1; }

body {
	margin-top: 30px;
}

.mouse {
	cursor: pointer;
}

.default {
	cursor: default;
}

/*-----------------------------------------
Game board
-----------------------------------------*/
.board {
	position: relative;
	width: 606px;
	height: 606px;
	margin: 0 auto;
	background-color: rgba(0,0,0,0.02);	
	transition: 0.2s;
}

.board:hover {
	background-color: rgba(0,0,0,0.2);
}

.row {
	width: 610px;
	height: 200px;
}

.cell {
	width: 200px;
	height: 200px;
	background-color: rgba(255,255,255,1);
	/*background-color: black;*/
	/*background-size: 200px 200px;*/
	margin-bottom: 3px;
	margin-right: 3px;
	float: left;
	z-index: 0;
}

.cell:hover {
	background-color: rgba(255,255,255,0.8);
	/*transition: 0.1s;*/
}

/*-----------------------------------------
Player pieces
-----------------------------------------*/
.p0 {
	background-image:url('../img/mac0.png');
	background-size: 200px 200px;
}

.p1 {
	background-image:url('../img/mac1.png');
	background-size: 200px 200px;
}

.p0_win {
	background-image:url('../img/mac0_win.png');
	background-size: 200px 200px;
}

.p1_win {
	background-image:url('../img/mac1_win.png');
	background-size: 200px 200px;
}

/*-----------------------------------------
Menu overlay on top of board
toggle through menu options
-----------------------------------------*/
.overlayMenu {
	position: absolute;
	width: 606px;
	height: 606px;
	z-index: 10;
	top: 0px;
	left: 0px;
	/*background-color: rgba(255,255,255,0.5);*/
}

.menu {
	position: absolute;
	width: 200px;
	height: 200px;
	text-align: center;
	font-family: 'Arvo', serif;
	font-size: 3em;
}

.play {
	height: 135px;
	color: rgba(0,200,200,1);
	padding-top: 65px;
	transition: 0.2s;
	-webkit-animation-duration: 3s;
	-webkit-animation-delay: 0.3s;

	/*0 0*/
	/*top: 0px;
	left: 0px;*/

	/*0 1*/
	/*top: 0px;
	left: 203px;*/

	/*0 2*/
	/*top: 0px;
	left: 406px;*/
	
	/*1 0*/
	/*top: 203px;
	left: 0px;*/

	/*1 1*/
	top: 203px;
	left: 203px;
	
	/*1 2*/
	/*top: 203px;
	left: 406px;*/

	/*2 0*/
	/*top: 406px;
	left: 0px;*/

	/*2 1*/
	/*top: 406px;
	left: 203px;*/

	/*2 2*/
	/*top: 406px;
	left: 406px;*/
}

.play:hover {
	color: white;
	background-color: rgba(0,190,190,1);
}

.select {
	height: 165px;
	/*background-color: rgba(150,150,220,1);*/
	background-color: rgba(0,190,190,1);
	color: white;
	padding-top: 35px;
	display: none;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-delay: 0s;
}

.game {
	/*0 1*/
	top: 0px;
	left: 203px;
}

.piece {
	/*0 1*/
	top: 0px;
	left: 203px;
}

.singlePlayer {
	color: rgba(0,200,200,1);
	background-color: rgba(255,255,255,0.5);
	transition: 0.2s;
	/*1 0*/
	top: 203px;
	left: 0px;
}

.singlePlayer:hover {
	color: rgba(255,120,40,1);
}

.twoPlayer {
	color: rgba(0,200,200,1);
	background-color: rgba(255,255,255,0.5);
	transition: 0.2s;
	/*1 2*/
	top: 203px;
	left: 406px;
}

.twoPlayer:hover {
	color: rgba(255,120,40,1);
}

.piece1 {
	font-size: 2em;
	color: transparent;
	height: 130px;
	padding-top: 70px;
	background-image:url('../img/mac0.png');
	background-size: 200px 200px;
	transition: 0.2s;
	/*1 0*/
	top: 203px;
	left: 0px;
}

.piece1:hover {
	color: rgba(0,200,200,1);
}

.piece2 {
	font-size: 2em;
	color: transparent;
	height: 135px;
	padding-top: 65px;
	background-image:url('../img/mac1.png');
	background-size: 200px 200px;
	transition: 0.2s;
	/*1 2*/
	top: 203px;
	left: 406px;
}

.piece2:hover {
	background-color: rgba(0,220,220,1);
	color: rgba(0,215,215,1);
}

.overlaySettings {
	position: absolute;
	width: 606px;
	height: 606px;
	z-index: 11;
	top: 0px;
	left: 0px;
	background-color: rgba(255,255,255,0.5);
}

.overlayHide {
	z-index: -10;
	display: none;
}

.overlayShow {
	z-index: 10;
	display: block;
}

.settings {
	position: absolute;
	color: rgba(230,230,230,1);
	width: 170px;
	height: 45px;
	left: -198px;
	top: 150px;
	text-align: left;
	font-family: 'Arvo', serif;
	font-size: 1.8em;
	transition: 0.2s;
	/*-webkit-animation-duration: 0.5s;
	-webkit-animation-delay: 0.05s;*/
	-webkit-animation-delay: 0.2s;
	-webkit-animation-duration: 1s;
}

.settings:hover {
	color: rgba(255,120,40,1);
}

.settingsOpen {
	color: rgba(0,200,200,1);
}

.dot {
	text-align: left;
	color: rgba(0,200,200,1);
	font-size: 3em;
	width: 10px;
	top: 128px;
	left: -75px;
}

.newGame {
	position: absolute;
	color: rgba(230,230,230,1);
	width: 170px;
	height: 45px;
	left: -210px;
	top: 110px;
	text-align: left;
	font-family: 'Arvo', serif;
	font-size: 1.8em;
	transition: 0.2s;
	/*-webkit-animation-delay: 0.2s;
	-webkit-animation-duration: 1s;*/
	-webkit-animation-duration: 0.5s;
	-webkit-animation-delay: 0.05s;
}

.newGame:hover {
	color: rgba(255,120,40,1);
}

.playAgain {
	color: rgba(0,190,190,1);
}

.draw {
	height: 135px;
	color: white;
	background-color: rgba(0,190,190,1);
	padding-top: 65px;
	/*1 1*/
	top: 203px;
	left: 203px;
	-webkit-animation-duration: 0.05s;
}

.win {
	height: 140px;
	color: rgba(255,120,40,1);
	padding-top: 60px;
	/*1 1*/
	top: 203px;
	left: 203px;
	font-size: 2.2em;
}

span {
	font-size: 0.8em;
}

.hide {
	z-index: -20;
	display: none;
}

.show {
	z-index: 20;
	display: block;
}

.showWin {
	z-index: 5;
	display: block;
}

/*-----------------------------------------
Additional images
-----------------------------------------*/
.imgHolder {
	position: absolute;
	width: 100%;
	height: 100%;
	/*background-color: red;*/
	z-index: -1;
}

.images {
	position: absolute;
	width: 180px;
	height: 180px;
	z-index: -1;
}

.spoon {
	background-image:url('../img/spoon.png');
	background-size: 650px 414px;
	bottom: -150px;
	left: -530px;
	width: 650px;
	height: 414px;
}

.choco {
	background-image:url('../img/choco.png');
	background-size: 180px 180px;
	top: 400px;
	left: -420px;
}

.coffee {
	background-image:url('../img/coffee.png');
	background-size: 210px 210px;
	width: 210px;
	height: 210px;
	top: 80px;
	left: 750px;
	-webkit-transform: rotate(38deg);
}

.almond {
	background-image:url('../img/almond.png');
	background-size: 200px 200px;
}

.lav {
	background-image:url('../img/lav.png');
	background-size: 600px 242px;
	width: 600px;
	height: 242px;
	top: 500px;
	left: 480px;
	-webkit-transform: rotate(70deg);
}

/*-----------------------------------------
Media Queries
-----------------------------------------*/
@media (max-width: 700px) and (min-width: 300px) {

.board {
	width: 304px;
	height: 304px;
	margin-top: 50px;
}

.row{
	width: 306px;
	height: 100px;
}

.cell {
	width: 100px;
	height: 100px;
	margin-right: 2px;
	margin-bottom: 2px;
}

.p0 {
	background-size: 100px 100px;
}

.p1 {
	background-size: 100px 100px;
}

.p0_win {
	background-size: 100px 100px;
}

.p1_win {
	background-size: 100px 100px;
}

.overlayCell {
	width: 100px;
	margin-bottom: 2px;
	margin-right: 2px;
	font-size: 2em;
}

.startGame {
	height: 135px;
	padding-top: 25px;
}

}

