body {
	margin-top: 30px;
}

.mouse {
	cursor: pointer;
}

.default {
	cursor: default;
}

/*-----------------------------------------
Game board
-----------------------------------------*/
.board {
	position: relative;
	width: 606px;
	height: 606px;
	margin: 0 auto;
	background-color: rgba(0,0,0,0.02);	
	transition: 0.2s;
	overflow: visible;
}

.board:hover {
	background-color: rgba(0,0,0,0.2);
}

.row {
	width: 610px;
	height: 200px;
}

.cell {
	width: 200px;
	height: 200px;
	background-color: rgba(255,255,255,1);
	margin-bottom: 3px;
	margin-right: 3px;
	float: left;
	z-index: 0;
}

.cell:hover {
	background-color: rgba(255,255,255,0.8);
}

/*-----------------------------------------
Player pieces
-----------------------------------------*/
.p0 {
	background-image:url('../img/macaron_sprite.png'); 
	background-size: 820px 820px;
}

.p1 {
	background-image:url('../img/macaron_sprite.png'); 
	background-size: 820px 820px;
	background-position: -400px 0px;
}

.p0_win {
	background-image:url('../img/macaron_sprite.png'); 
	background-size: 820px 820px;
	background-position: -200px 0px;
}

.p1_win {
	background-image:url('../img/macaron_sprite.png'); 
	background-size: 820px 820px;
	background-position: -600px 0px;
}

/*-----------------------------------------
Menu overlay on top of board
toggle through menu options
-----------------------------------------*/

/*--------overlays---------*/
.overlayMenu {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 10;
}
.overlaySettings {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 11;
	background-color: rgba(255,255,255,0.5);
}

.overlayHide {
	z-index: -10;
	display: none;
}

.overlayShow {
	z-index: 10;
	display: block;
}

/*--------menu---------*/
.menu {
	position: absolute;
	width: 200px;
	height: 200px;
	text-align: center;
	font-family: 'Arvo', serif;
	font-size: 3em;
}

/*--------play button---------*/
.play {
	height: 135px;
	color: rgba(0,200,200,1);
	padding-top: 65px;
	transition: 0.2s;
	-webkit-animation-duration: 3s;
	-webkit-animation-delay: 0.3s;
	top: 203px;
	left: 203px;
}

.play:hover {
	color: white;
	background-color: rgba(0,190,190,1);
}

/*--------menu selection description---------*/

.select {
	height: 165px;
	background-color: rgba(0,190,190,1);
	color: white;
	padding-top: 35px;
	display: none;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-delay: 0s;
}

.game {
	left: 203px;
}

.piece {
	left: 203px;
}


/*--------game mode selection---------*/
.singlePlayer {
	color: rgba(0,200,200,1);
	background-color: rgba(255,255,255,0);
	transition: 0.2s;
	top: 203px;
}

.singlePlayer:hover {
	color: rgba(255,120,40,1);
}

.twoPlayer {
	color: rgba(0,200,200,1);
	background-color: rgba(255,255,255,0.5);
	transition: 0.2s;
	top: 203px;
	left: 406px;
}

.twoPlayer:hover {
	color: rgba(255,120,40,1);
}

.multiPlayer {
	color: rgba(0,200,200,1);
	background-color: rgba(255,255,255,0.5);
	transition: 0.2s;
	top: 406px;
	left: 203px;
}

.multiPlayer:hover {
	color: rgba(255,120,40,1);
}

/*--------player piece selection---------*/
.piece1 {
	font-size: 2em;
	color: transparent;
	height: 130px;
	padding-top: 70px;
	background-image:url('../img/macaron_sprite.png'); 
	background-size: 820px 820px;
	transition: 0.2s;
	top: 203px;
}

.piece1:hover {
	color: rgba(0,200,200,1);
}

.piece2 {
	font-size: 2em;
	color: transparent;
	height: 135px;
	padding-top: 65px;
	background-image:url('../img/macaron_sprite.png'); 
	background-size: 820px 820px;
	background-position: -400px 0px;
	transition: 0.2s;
	top: 203px;
	left: 406px;
}

.piece2:hover {
	background-color: rgba(0,220,220,1);
	color: rgba(0,215,215,1);
}


/*----------settings button----------*/
.settings {
	position: absolute;
	color: rgba(230,230,230,1);
	width: 170px;
	height: 45px;
	left: -180px;
	top: 150px;
	text-align: left;
	font-family: 'Arvo', serif;
	font-size: 1.8em;
	transition: 0.2s;
	-webkit-animation-delay: 0.2s;
	-webkit-animation-duration: 1s;
}

.settings:hover {
	color: rgba(255,120,40,1);
}

.settingsOpen {
	color: rgba(0,200,200,1);
}

/*----------new game button----------*/
.newGame {
	position: absolute;
	color: rgba(230,230,230,1);
	width: 170px;
	height: 45px;
	left: -193px;
	top: 107px;
	text-align: left;
	font-family: 'Arvo', serif;
	font-size: 1.8em;
	transition: 0.2s;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-delay: 0.05s;
}

.newGame:hover {
	color: rgba(255,120,40,1);
}

.playAgain {
	color: rgba(0,190,190,1);
}


/*----------game results----------*/
.draw {
	height: 135px;
	color: white;
	background-color: rgba(0,190,190,1);
	padding-top: 65px;
	top: 203px;
	left: 203px;
	-webkit-animation-duration: 0.05s;
}

.win {
	height: 140px;
	color: rgba(255,120,40,1);
	padding-top: 60px;
	top: 203px;
	left: 203px;
	font-size: 2.2em;
}

span {
	font-size: 0.8em;
}

/*----------show and hide----------*/
.hide {
	z-index: -20;
	display: none;
}

.show {
	z-index: 20;
	display: block;
}

.showWin {
	z-index: 5;
	display: block;
}

/*-----------------------------------------
Additional images
-----------------------------------------*/
.imgHolder {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
	left: 0px;
	clip: rect(0, 100%, 0, 100%); 
	/*overflow: hidden;*/
	/*margin: 0 auto;*/
}

.images {
	background-image:url('../img/macaron_sprite.png'); 
	position: absolute;
	width: 180px;
	height: 180px;
	z-index: -1;
}
.spoon {
	background-size: 1700px 1700px;
	background-position: -5px -835px;
	width: 650px;
	height: 414px;
	top: 58%;
	left:-88%;
	
}
.choco {
	background-size: 800px 800px;
	background-position: -205px -210px;
	/*top: 400px;*/
	top: 65%;
	/*left: -420px;*/
	left: -68%;
}

.coffee {
	background-size: 900px 900px;
	background-position: 0px -220px;
	width: 210px;
	height: 210px;
	-webkit-transform: rotate(38deg);
	top: 15%;
	left: 120%;
	
}

.lav {
	background-size: 1000px 1000px;
	background-position: -395px -490px;
	width: 600px;
	height: 242px;
	-webkit-transform: rotate(70deg);
	top: 80%;
	left: 78%;
}

/*-----------------------------------------
Media Queries
-----------------------------------------*/
/* Landscape phones and down */
@media (max-width: 568px) {
body {
	margin-top: 150px;
}
.board {
	width: 399px;
	height: 399px;
}
.row {
	width: 402px;
	height: 132px;
}

.cell {
	width: 132px;
	height: 132px;
	margin-bottom: 2px;
	margin-right: 2px;
}

.menu {
	width: 132px;
	height: 77px;
	font-size: 2em;
}

.play {
	top: 134px;
	left: 134px;
	padding-top: 43px;
	height: 89px;
}

.select {
	left: 134px;
	height: 110px;
	padding-top: 22px;
}

.singlePlayer {
	top: 134px;
	left: 0px;
}
.twoPlayer {
	top: 134px;
	left: 268px;
	width: 131px;
}
.piece1 {
	font-size: 1.5em;
	top: 134px;
	left: 0px;
	height: 87px;
	width: 132px;
	padding-top: 45px;
	background-size: 630px 630px;
	background-position: -10px -10px;
}

.piece2 {
	font-size: 1.5em;
	top: 134px;
	height: 87px;
	width: 131px;
	padding-top: 45px;
	background-size: 630px 630px;
	background-position: -317px -10px;
	left: 268px;
}
.p0 {
	background-size: 630px 630px;
	background-position: -10px -10px;
}

.p1 {
	background-size: 630px 630px;
	background-position: -317px -10px;
}

.p0_win {
	background-size: 630px 630px;
	background-position: -165px -10px;
}

.p1_win {
	background-size: 630px 630px;
	background-position: -472px -10px;
}
.newGame {
	width: 140px;
	height: 33px;
	left: 120px;
	top: -115px;
	font-size: 1.6em;
	color: rgba(180,180,180,1);
}
.playAgain {
	color: rgba(0,190,190,1);
}
.settings {
	width: 130px;
	height: 33px;
	left: 131px;
	top: -75px;
	font-size: 1.6em;
	color: rgba(180,180,180,1);
}
.settingsOpen {
	color: rgba(0,200,200,1);
}
.draw {
	height: 87px;
	padding-top: 45px;
	top: 134px;
	left: 134px;
}
.spoon {
	display: none;
}
.lav {
	display:none;
}
.choco {
	background-size: 550px 550px;
	background-position: -290px -130px;
	width: 130px;
	height: 130px;
	top: -100px;
	left: 0px;
	-webkit-transform: rotate(38deg);
}

.coffee {
	background-size: 550px 550px;
	background-position: 0px -130px;
	width: 130px;
	height: 130px;
	top: -135px;
	left: 260px;
}


}

/* Landscape phone to portrait tablet */
@media (min-width: 569px) and (max-width: 899px) {
body {
	margin-top: 75px;
}
.board {
	width: 520px;
	height: 520px;
}
.row {
	width: 525px;
	height: 172px;
}

.cell {
	width: 172px;
	height: 172px;
}

.menu {
	width: 172px;
	height: 107px;
	font-size: 2.6em;
}

.play {
	top: 175px;
	left: 175px;
	padding-top: 55px;
	height: 117px;
}

.select {
	left: 175px;
	height: 141px;
	padding-top: 6%;
}
.singlePlayer {
	top: 175px;
	left: 0px;
}
.twoPlayer {
	top: 175px;
	left: 350px;
	width: 170px;
}
.piece1 {
	font-size: 1.8em;
	top: 175px;
	left: 0px;
	height: 112px;
	width: 172px;
	padding-top: 60px;
	background-size: 740px 740px;
	background-position: -8px -5px;
}

.piece2 {
	font-size: 1.8em;
	top: 175px;
	height: 112px;
	width: 172px;
	padding-top: 60px;
	background-size: 740px 740px;
	background-position: -365px 0px;
	left: 350px;
}
.p0 {
	background-size: 740px 740px;
	background-position: -8px -5px;
}

.p1 {
	background-size: 740px 740px;
	background-position: -365px 0px;
}

.p0_win {
	background-size: 740px 740px;
	background-position: -190px 0px;
}

.p1_win {
	background-size: 740px 740px;
	background-position: -548px 0px;
}
.newGame {
	width: 170px;
	height: 45px;
	left: 75px;
	top: -50px;
	font-size: 1.8em;
	transition: 0.2s;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-delay: 0.05s;
	color: rgba(180,180,180,1);
}
.playAgain {
	color: rgba(0,190,190,1);
}
.settings {
	width: 170px;
	height: 45px;
	left: 320px;
	top: -50px;
	font-size: 1.8em;
	transition: 0.2s;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-delay: 0.05s;
	color: rgba(180,180,180,1);
}
.settingsOpen {
	color: rgba(0,200,200,1);
}
.draw {
	height: 116px;
	padding-top: 56px;
	top: 175px;
	left: 175px;
}

.spoon {
	display: none;
}
.choco {
	background-size: 600px 600px;
	background-position: -160px -150px;
	width: 120px;
	height: 120px;
	top: 500px;
	left: -120px;
}

.coffee {
	background-size: 670px 670px;
	background-position: -340px -180px;
	width: 150px;
	height: 150px;
	-webkit-transform: rotate(38deg);
	top: 70px;
	left: 510px;
	
}

.lav {
	background-size: 700px 700px;
	background-position: -290px -350px;
	width: 400px;
	height: 150px;
	-webkit-transform: rotate(30deg);
	top: 550px;
	left: 300px;
}
}


/* Portrait tablet to landscape and desktop */
@media (min-width: 900px) and (max-width: 1050px) {
body {
	margin-top: 75px;
}
.board {
	width: 520px;
	height: 520px;
}
.row {
	width: 525px;
	height: 172px;
}

.cell {
	width: 172px;
	height: 172px;
}

.menu {
	width: 172px;
	height: 107px;
	font-size: 2.6em;
}

.play {
	top: 175px;
	left: 175px;
	padding-top: 55px;
	height: 117px;
}

.select {
	left: 175px;
	height: 141px;
	padding-top: 6%;
}
.singlePlayer {
	top: 175px;
	left: 0px;
}
.twoPlayer {
	top: 175px;
	left: 350px;
	width: 170px;
}
.piece1 {
	font-size: 1.8em;
	top: 175px;
	left: 0px;
	height: 112px;
	width: 172px;
	padding-top: 60px;
	background-size: 740px 740px;
	background-position: -8px -5px;
}

.piece2 {
	font-size: 1.8em;
	top: 175px;
	height: 112px;
	width: 172px;
	padding-top: 60px;
	background-size: 740px 740px;
	background-position: -365px 0px;
	left: 350px;
}
.p0 {
	background-size: 740px 740px;
	background-position: -8px -5px;
}

.p1 {
	background-size: 740px 740px;
	background-position: -365px 0px;
}

.p0_win {
	background-size: 740px 740px;
	background-position: -190px 0px;
}

.p1_win {
	background-size: 740px 740px;
	background-position: -548px 0px;
}
.newGame {
	width: 170px;
	height: 45px;
	left: -170px;
	top: 90px;
	font-size: 1.8em;
}
.settings {
	width: 170px;
	height: 45px;
	left: -155px;
	top: 128px;
	font-size: 1.8em;
}
.draw {
	height: 116px;
	padding-top: 55px;
	top: 175px;
	left: 174px;
}

.spoon {
	background-size: 1400px 1400px;
	background-position: 30px -680px;
	top: 300px;
	left: -460px;
}
.choco {
	background-size: 600px 600px;
	background-position: -150px -150px;
	width: 125px;
	height: 125px;
	top: 200px;
	left: -185px;
}

.coffee {
	background-size: 720px 720px;
	background-position: 0px -180px;
	width: 160px;
	height: 160px;
	top: 100px;
	left: 520px;
	
}

.lav {
	background-size: 850px 850px;
	background-position: -340px -450px;
	width: 450px;
	height: 200px;
	top: 450px;
	left: 370px;
}
}

/* Large desktop */
/*@media (min-width: 1200px) {*/
/*}*/